body {
    background-color: #aaaaff;
}

.m-table-row:nth-child(odd) {
    background-color: rgba(162, 162, 248, 0.78);
}

.m-table-row:nth-child(even) {
    background-color: rgba(243, 241, 242, 0.78);
}

.m-table-row:nth-child(odd):hover {
    background-color: rgba(151, 151, 238, 0.78);
}

.m-table-row:nth-child(even):hover {
    background-color: rgba(233, 231, 232, 0.78);
}

.m-table-element {
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.m-table-header {
    background-color: #9191d9 !important;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 7px !important;
}

.city-row {
    margin-left: 0px;
    margin-right: 0px;
}

.m-table-row-subelement-hidden{
    display: inline-block;
    background-color: #6f5499;
    color: white;
    text-decoration: none;
    padding: 20px;
    transition: background 0.2s ease-in-out;
}

#map{
    height: 200px;
}