<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="templates :: headers"></th:block>
    <title>Travel agency</title>
</head>
<body>
<th:block th:include="templates :: navigator_bar"></th:block>
<div class="container main-window">
    <form th:action="@{'/trip/details/'+${trip.id}}" th:method="post" th:object="${trip}">
        <div class="card shadow-sm p-1 bg-white rounded mb-3">
            <div class="row colored-row">
                <div class="col-4" id="countryName"
                     th:text="${trip.getToAirport().getCity().getCountry().getCountryName()}"></div>
                <div class="col-4 font-weight-bold" id="cityName"
                     th:text="${trip.getToAirport().getCity().getCityName()}"></div>
            </div>
        </div>
        <div class="card shadow-sm p-1 bg-white rounded mb-3">
            <div class="row colored-row">
                <div class="col-2" for="hotel">Hotel:</div>
                <div class="col-4" id="hotel" th:text="${trip.getHotel().getHotelName()}"></div>
            </div>
        </div>

        <div class="card shadow-sm p-1 bg-white rounded mb-3">
            <div class="row colored-row">
                <div class="col-5">
                    <img th:if="${base64Data == null}" th:src="@{'/img/nophoto.png'}" width="100%">
                    <!--<img th:if="${base64Data == null}" th:src="@{'/img/'+${trip.getHotel().getCity().getId()}+'.jpg'}" width="100%">-->
                    <img th:if="${base64Data != null}" id="photo" th:src="'data:image/png;base64,'+${base64Data}" width="100%">
                </div>
                <div class="col-7">

                    <div class="row colored-row">
                        <div class="col-3" for="airportsTo">Arrival to:</div>
                        <div class="col-4" id="airportsTo" th:text="${trip.getToAirport().getAirportName()}"></div>
                    </div>
                    <div class="row colored-row">
                        <div class="col-3" for="airportsFrom">Departure from:</div>
                        <div class="col-4" id="airportsFrom" th:text="${trip.getFromAirport().getAirportName()}"></div>
                    </div>
                    <div class="row colored-row">
                        <div class="col-3" for="departureDate">Arrival date:</div>
                        <div class="col-4" th:text="${trip.getFlyOut()}"></div>
                    </div>
                    <div class="row colored-row">
                        <div class="col-3" for="arrivalDate">Departure date:</div>
                        <div class="col-4" th:text="${trip.getFlyBack()}"></div>
                    </div>
                    <div class="row colored-row">
                        <div class="col-3" for="adultPrice">Price for adult:</div>
                        <div class="col-4" id="adultPrice" th:text="${trip.getAdultPrice()}"></div>
                    </div>
                    <div class="row colored-row">
                        <div class="col-3" for="childPrice">Price for child:</div>
                        <div class="col-4" id="childPrice" th:text="${trip.getChildPrice()}"></div>
                    </div>
                    <div class="row colored-row">
                        <div class="col-3" for="mealsType">Meals type:</div>
                        <div class="col-4" id="mealsType" th:text="${trip.getMealsType().getName()}"></div>
                    </div>
                    <a class="btn btn-outline-primary offset-2" th:href="@{'/purchase/buy/'+${trip.getId()}}">Buy now</a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>