<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="templates :: headers"></th:block>
    <title>Travel agency</title>
</head>
<body>
<th:block th:include="templates :: navigator_bar"></th:block>
<div class="container main-window">
    <form th:action="@{/admin/trip/create}" th:method="post" th:object="${newTrip}">
        <div class="row colored-row">
            <div class="col-12">
                <h2>Add new trip</h2>
            </div>
        </div>
        <div class="row colored-row">
            <div class="col-3">
                <label for="airportsFrom">Departure from:</label>
            </div>
            <div class="col-3">
                <select id="airportsFrom" class="form-control" th:field="*{fromAirport}">
                    <option th:each="airport : ${airports}"
                            th:value="${airport}"
                            th:text="${airport.airportName}">
                    </option>
                </select>
            </div>
        </div>
        <div class="row colored-row">
            <div class="col-3">
                <label for="departureDate">Departure date:</label>
            </div>
            <div class="col-3">
                <input id="departureDate" class="form-control" type="date" th:field="*{flyOut}" required>
            </div>
        </div>
        <div class="row colored-row">
            <div class="col-3">
                <label for="airportsTo">Arrival at:</label>
            </div>
            <div class="col-3">
                <select id="airportsTo" class="form-control" th:field="*{toAirport}">
                    <option th:each="airport : ${airports}"
                            th:value="${airport}"
                            th:text="${airport.airportName}">
                    </option>
                </select>
            </div>
        </div>
        <div class="row colored-row">
            <div class="col-3">
                <label for="arrivalDate">Arrival date:</label>
            </div>
            <div class="col-3">
                <input id="arrivalDate" class="form-control" type="date" th:field="*{flyBack}" required>
            </div>
        </div>
        <div class="row colored-row">
            <div class="col-3">
                <label for="hotel">Hotel:</label>
            </div>
            <div class="col-3">
                <select id="hotel" class="form-control" th:field="*{hotel}">
                    <option th:each="hotel : ${hotels}"
                            th:value="${hotel}"
                            th:text="${hotel.hotelName}">
                    </option>
                </select>
            </div>
        </div>
        <div class="row colored-row">
            <div class="col-3">
                <label for="adultPrice">Price for adult:</label>
            </div>
            <div class="col-3">
                <input id="adultPrice" class="form-control" th:field="*{adultPrice}" required>
            </div>
        </div>
        <div class="row colored-row">
            <div class="col-3">
                <label for="childPrice">Price for child:</label>
            </div>
            <div class="col-3">
                <input id="childPrice" class="form-control" th:field="*{childPrice}" required>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label for="mealsType">Meals type:</label>
            </div>
            <div class="col-3">
                <select id="mealsType" th:field="*{mealsType}" class="form-control">
                    <option th:each="type : ${mealsTypes}"
                            th:value="${type}"
                            th:text="${type}">
                    </option>
                </select>
            </div>
        </div>
        <div class="row colored-row">
            <div class="col-3">
                <label for="seatsNumber">Seats number:</label>
            </div>
            <div class="col-3">
                <input class="form-control" id="seatsNumber" th:field="*{seatsNumber}" required>
            </div>
        </div>
        <div class="row colored-row">
            <div class="col-3">
                <label for="promoted">Promoted:</label>
            </div>
            <div class="col-3">
                <input class="form-control" id="promoted" th:field="*{promoted}" required>
            </div>
        </div>
        <div class="row colored-row">
            <div class="offset-2 col-8">
                <input class="form-control" type="submit" value="Add">
            </div>
        </div>
    </form>
</div>

</body>
</html>