<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="templates :: headers"></th:block>
    <title>Travel agency</title>
</head>
<body>
<th:block th:include="templates :: navigator_bar"></th:block>
<div class="container main-window">
    <form th:action="@{/admin/trip//list-trip}" th:method="post" th:object="${trips}">
        <div class="row colored-row">
            <div class="col-12">
                <h2>Trip List</h2>
            </div>
        </div>
        <div class="card shadow-sm p-1 bg-white rounded mb-3">
            <div class="list-group list-group-flush">

                <div class="row m-table-header m-table-element p-1 m-table-row mb-12">
                    <div class="offset-1 col-2" th:text="'Country name'"></div>
                    <div class="col-2" th:text="'Continent name'"></div>
                    <div class="col-xs-1"></div>

                    <div class="col-2">Action edit</div>&nbsp;
                    <div class="col-2">Action remove</div>
                    <div class="col-2">Action add city</div>
                </div>
                <th:block th:each="country : ${countries}">
                    <div class="row m-table-element p-1 m-table-row mb-3">

                        <div class="offset-1 col-2">
                            <a th:text="${country.countryName}"></a>
                        </div>
                        <div class="col-2" th:text="${country.continent.getName()}"></div>
                        <div class="col-xs-1"></div>

                        <a class="col-2" th:href="@{'/admin/country/edit/'+${country.id}}">Edit</a>
                        <a class="col-2" th:href="@{'/admin/country/delete/'+${country.id}}">Delete</a>
                        <a class="col-2" th:href="@{'/admin/city/create/'+${country.id}}">Add City</a>
                    </div>
                    <div class="row m-table-element p1 m-table-row-subelement-hidden mb-3">
                        <div class="row col-12 p1 city-row" th:each="city : ${country.getCities()}">
                            <div class="col-6">
                                <a th:text="${city.getCityName()}"></a>
                            </div>
                            <div class="col-6">
                                <a class="col-1" th:href="@{'/admin/city/edit-city/'+${city.id}+'/'+${country.id}}">Edit city</a>
                                <a class="col-1" th:href="@{'/admin/city/delete-city/'+${city.id}}">Delete city</a>
                                <a class="col-1" th:href="@{'/admin/hotel/create/'+${city.id}}">Add hotel</a>
                                <a class="col-1" th:href="@{'/admin/airport/create/'+${city.id}}">Add airport</a>
                            </div>

                        </div>
                    </div>
                </th:block>
            </div>
            <div th:if="${countries.isEmpty()}">
                <div class="text-center" th:text="Sorry, no records found"></div>
            </div>
        </div>

    </form>
</div>

</body>
</html>