<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:include="templates :: headers"></th:block>
    <title>Travel agency</title>
</head>
<body>
<th:block th:include="templates :: navigator_bar"></th:block>
<div class="container main-window">
    <form th:action="@{'/admin/city/create/'+${countryId}}" th:method="post" th:object="${newCity}">
        <div class="row colored-row">
            <div class="col-12">
                <h2>Add City</h2>
            </div>
        </div>
        <div class="row colored-row">
            <div class="col-1">
                <label for="country">Country:</label>
            </div>
            <div class="col-3">
                <input class="form-control" id="country" th:value="${countryName}" readonly>
            </div>
            <div class="col-1">
                <label for="country">City:</label>
            </div>
            <div class="col-3">
                <input class="form-control" id="city" th:field="*{cityName}" required>
            </div>
        </div>


        <div class="row colored-row">
            <div class="offset-1 col-7">
                <input class="form-control" type="submit" value="Add city">
            </div>
        </div>
    </form>
</div>
</body>
</html>